<div style="background-color:#e5e5e5">
<div style="marign-left:310px">
<div class="row" >
<div class="col-2" >
</div>
  <div class="col-3" >
  <%customer = Customer.where(id:cookies[:customer_idd]).first%>
<div style="margin-left:20px">
<div class="alert alert-success" id="notice" >
<%= notice %></div>
    <%= render partial: 'customers/form', locals: {customer: customer} %>
    </div>
    <div class="row" style="margin-left:20px">
        <div class="card text-white bg-info mb-3" style="margin-top:20px">
        <div class="card-header">Informacion Pago
        </div>
        <div class="card-body">El pago de los productos se hace con un deposito que, al validarse, es despachado. <br>Sera informado de todos los moviemientos bia email <br> al siguente mail:<h3><%=Customer.where(id:cookies[:customer_idd]).first.ident%></h3></div>
        </div>
</div>
     
 
      </div>
      
    <div class="col-5">

    <table class="table table-bordered">
     <thead>
    <tr>
    <th>Item</th>
    <th>Eliminar?</th>
    <th>Cantidad</th>
    </tr>
     </thead>
       <tbody>

        <%@trees_ids.each do |tray|%>
    <tr>
    <td>    <%= Tree.where(id:tray).first.name%></td>
    <td>    <%= link_to "-1", eliminate_item_path(Road.where(order_id:@order_id).where(tree_id:tray).first.id),class: ["btn", "btn-danger"]%></td>
    <td>   <button type="button" class="btn btn-outline-info">
<%= Road.where(order_id:@order_id).where(tree_id:tray).count%></button></td>
    </tr>
      <%end%>

  </tbody>

</table>

<div class="card border-success mb-3" style="margin-top:20px">

<div class="card-header">
  <h3>Total: $ <%=@total%></h3>

</div>
  <div class="card-body">
  <%= link_to "Continuar", pending_path(),class: ["btn", "btn-success"]%>
    <%= link_to "Cancelar pago", customer_orders_path(cookies[:customer_idd],cookies[:current_order_idd]),class: ["btn", "btn-danger"]%>

  </div>
</div>
  
    </div>
</div>
  <div class="col-2" >
</div>
<div class="row" style="margin-top:40px">
<div class="col-3" >
      </div> 
    <div class="col-9">
    </div>
</div>
</div>
<div class="row" style="background-color:#e5e5e5; height:400px">
</div>